<div class="container mb-4" id="margin-top-first-line">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">Dance Courses</span>
    </div>
<br>
   
   
  <div class="card bg-dark text-white">
    <img src="../assets/1.jpg" class="card-img" alt="...">
  </div>

  <div class="text px-0">
    <h1 class="font-italic"> Dance Together:</h1>
    <p class=" font-italic my-3"><strong> Dance Together </strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos enim illo magnam assumenda ab sit esse recusandae sapiente accusamus dolorum quas corrupti porro natus consequuntur delectus consequatur architecto quos explicabo, corporis eum harum obcaecati! Praesentium, molestiae voluptatum consectetur dolores dignissimos aliquam voluptatem dolorum tempora eveniet deserunt inventore at tempore alias nostrum sed culpa perferendis earum natus modi atque eius libero, repudiandae suscipit. Ea voluptates, eum excepturi facere mollitia possimus expedita!
    </p>
  </div>

  <div class="card-deck">

    <div class="card bg-dark text-white my-5">
      <img src="../../assets/1.jpg" style="width:100%;cursor:zoom-in"
        onclick="document.getElementById('modal01').style.display='block'">

      <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom" style="margin-top: 100px;">
          <img src="../../assets/1.jpg" style="width:100%">
          <span class="close">&times;</span>
          <div id="caption" >picture</div>
        </div>
      </div>

      <!-- <div class="card-img-overlay " style="margin-top:240px;">
        <h5 class="card-title">Rise and Shines vision</h5>
        <p class="card-text">Att med enkla medel få till en långsiktig hållbar förändring i samhället. Där fokus
          ligger på friskvård och eget ansvar. Där vi tillsammans verkar för en friskare bättre värld.

      </div> -->
    </div>


    <div class="card bg-dark text-white my-5">
      <img src="../../assets/1.jpg" style="width:100%;cursor:zoom-in"
      onclick="document.getElementById('modal02').style.display='block'">

    <div id="modal02" class="w3-modal " onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom" style="margin-top: 100px;">
        <img src="../../assets/1.jpg" style="width:100%">
        <span class="close">&times;</span>
        <div id="caption" >picture</div>
      </div>
    </div>
      <div class="card-img-overlay " style="margin-top:240px;">
        <h5 class="card-title"></h5>
        <p class="card-text">

      </div>
    </div>


  </div>

  <div class="text px-0">
    <h1 class="font-italic"> Dance Together:</h1>
    <p class="font-italic my-3"><strong> Dance Together </strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos enim illo magnam assumenda ab sit esse recusandae sapiente accusamus dolorum quas corrupti porro natus consequuntur delectus consequatur architecto quos explicabo, corporis eum harum obcaecati! Praesentium, molestiae voluptatum consectetur dolores dignissimos aliquam voluptatem dolorum tempora eveniet deserunt inventore at tempore alias nostrum sed culpa perferendis earum natus modi atque eius libero, repudiandae suscipit. Ea voluptates, eum excepturi facere mollitia possimus expedita!
    </p>
  </div>



  <div class="text px-0">
    <p class=" font-italic my-3"><strong> Dance Together </strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos enim illo magnam assumenda ab sit esse recusandae sapiente accusamus dolorum quas corrupti porro natus consequuntur delectus consequatur architecto quos explicabo, corporis eum harum obcaecati! Praesentium, molestiae voluptatum consectetur dolores dignissimos aliquam voluptatem dolorum tempora eveniet deserunt inventore at tempore alias nostrum sed culpa perferendis earum natus modi atque eius libero, repudiandae suscipit. Ea voluptates, eum excepturi facere mollitia possimus expedita!
    </p>
  </div>

  
  
</div>


